.body {
    font-family: "Roboto", sans-serif;
    background-color:var(--primary-white-color);
    color:var(--primary-slate-color);
}
.logo{
    font-family: "Raleway"; 
    font-weight: 800;
    font-size:  18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.web {
    color:var(--non-primary-blue-color);
}
.studio-dark{
    color:var(--dark-color);
}

.nav-list{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
}
.address{
    font-weight: 153;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--primary-slate-color);
    text-decoration: none;
    list-style-type: none;
}
.hero{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color:var(--primary-white-color);
    background-color:var(--brand-color);
}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:var(--non-primary-blue-color);
    color:var(--primary-white-color);
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color:var(--brand-color);
    }
    .description{
        font-weight: 400;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color:var(--primary-slate-color);
    }
    .section-name{
        font-weight: 700;
        font-size: 36px;
        line-height: 1,1;
        letter-spacing: 0.02em;
    }
    .img-list{
        list-style-type: none;
    }
    .footer{
        background-color:var(--brand-color);
        color:var(--non-primary-white-color)
    }
    .studio-light{
        color:var(--non-primary-white-color);
    }
    .filter-btn{
      font-weight: 500;
      font-size: 16px;
      line-height: 1,5;
      letter-spacing: 0.04;
      background-color:var(--non-primary-white-color);
      color:var(--non-primary-blue-color);
      }
        ul {
            list-style: none;
        }
    
        ul li a {
            text-decoration: none;
        }
        .nav-list:hover,
        .nav-list:focus{
            color:var(--primary-blue-color);
            text-decoration: underline;
        }
        .address:hover,
        .address:focus{
            color:var(--primary-blue-color);
        }
        .button:hover,
        .button:focus{
            color:var(--primary-white-color);
            background-color:var(--primary-blue-color);
        }
        .filter-btn:hover,
        .filter-btn:focus{
            color:var(--primary-white-color);
            background-color:var(--primary-blue-color);
        }
        .end-description{
            color:var(--non-primary-white-color);
        }
       :root{
        --brand-color: #2E2F42;
        --primary-slate-color:#434455;
        --primary-blue-color:#404BBF;
        --non-primary-blue-color:#4D5AE5;
        --primary-white-color:#FFFFFF; 
        --non-primary-white-color:#E7E9FC;
        --dark-color:#000000;
       } 
     